In [25]:
import numpy as np
import pandas as pd
import pickle

In [26]:
sample_data = pd.read_csv('Samples/negative_sample.csv')

In [27]:
with open('../Models/best_gbc.pickle','rb') as data:
    df =pickle.load(data)

In [28]:
sample_data.head()

,# mean_0_a,mean_1_a,mean_2_a,mean_3_a,mean_4_a,mean_d_0_a,mean_d_1_a,mean_d_2_a,mean_d_3_a,mean_d_4_a,...,fft_740_b,fft_741_b,fft_742_b,fft_743_b,fft_744_b,fft_745_b,fft_746_b,fft_747_b,fft_748_b,fft_749_b
0,4.62,30.3,-356.0,15.6,26.3,1.07,0.411,-15.7,2.06,3.15,...,74.3,23.5,20.3,20.3,23.5,-215.0,280.0,-162.0,-162.0,280.0

In [35]:
e=df.predict([sample_data.iloc[0]])

In [37]:
e[0]

0